@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.btn{
    background: #FF7A18;
    color: #fff;
    font-size: 16;
    font-weight: 500;
    letter-spacing: 0%;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    border: none;
    transition: 0.3s ease-in-out;
    padding: 10px 28.5px ;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background: #FFB066;
    transform: scale(1.02);
}
.btn:active{
    transform: scale(0.95);
}