@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 48px 18px 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
}
.header h1 {
  font-family: "Island Moments", cursive;
  color: #ff7a18;
  font-size: 40.81px;
  letter-spacing: 0%;
  line-height: 40.8px;
  font-weight: 500;
}
.header a{
  text-decoration: none;
}
.Navbar {
  display: flex;
  gap: 200px;
  align-items: center;
}
.Navbar ul {
  display: flex;
  gap: 200px;
  align-items: center;
}
.Navbar a.active {
  color: #ff7a18;
}
/* li::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff7a18;
}
li:hover::before {
  width: 100%;
} */
.Navbar li {
  list-style: none;
  position: relative;
}
.Navbar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0%;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  color: #1f2937;
  transition: 0.3s ease-in-out;
}
.Navbar a:hover {
  color: #ff7a18;
}
.btn {
  background: #ff7a18;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0%;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  border: none;
  transition: 0.5s ease-in-out;
  padding: 15px 58.5px;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  background: #ffb066;
}
.menu {
  display: none;
}

@media (max-width: 1440px) {
  .Navbar {
    display: flex;
    gap: 150px;
    align-items: center;
  }
  .Navbar ul {
    display: flex;
    gap: 160px;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .header {
    width: 100%;
    padding: 10px 19px;
  }
  .Navbar {
    display: flex;
    gap: 70px;
    align-items: center;
  }
  .Navbar ul {
    display: flex;
    gap: 100px;
    align-items: center;
  }
}

@media (min-width: 901px) {
  .Navbar {
    display: flex !important;
  }
}

@media (max-width: 900px) {
  .header {
    padding: 10px 19px;
  }
  .menu {
    display: flex;
  }
  .Navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 100%;
    /* height: 100vh; */
  }
  .Navbar ul {
    display: block;
  }
  .Navbar li {
    padding: 30px;
  }
  .btn {
    margin-bottom: 30px;
  }
}
