@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.food_card {
  background: #fff;
  border-radius: 4px;
}
.food_card h3 {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
}
.food_price {
  font-family: "Inter", sans-serif;
  color: #ff7a18;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
  padding: 11px 0 18px 0;
}
.food_text {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
}

@media (max-width: 1440px) {
  .food_card h3 {
    font-size: 24px;
    line-height: 34px;
  }
  .food_price {
    font-size: 16px;
    line-height: 24px;
  }
  .food_text {
    font-size: 16px;
    line-height: 140%;
  }
}

@media (max-width: 1024px) {
  .food_card h3 {
    font-size: 24px;
    line-height: 34px;
  }
  .food_price {
    font-size: 16px;
    line-height: 24px;
  }
  .food_text {
    font-size: 16px;
    line-height: 140%;
  }
}

@media (max-width: 768px) {
  .food_card h3 {
    font-size: 24px;
    line-height: 34px;
  }
  .food_price {
    font-size: 16px;
    line-height: 24px;
  }
  .food_text {
    font-size: 16px;
    line-height: 140%;
  }
}
