@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.istruction_card p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}
.istruction_card h3 {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
}
.istruction_card_content {
  border: 1px solid #bdbdbd;
  padding: 8px 11px 40px 8px;
  border-radius: 8px;
  margin: 19px 0;
}
