@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.hero_section {
  background-image: url(../../assets/images/Home_screen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 90px;
  box-sizing: border-box;
  position: relative;
}
.hero_content {
  width: 50%;
  padding: 200px 48px;
  color: #fff;
  font-family: "Inter", sans-serif;
}
.hero_content h1 {
  font-size: 48px;
  line-height: 61px;
  letter-spacing: 0%;
  font-weight: 700;
  margin-bottom: 42px;
}
.hero_content p {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0%;
  font-weight: 700;
  margin-bottom: 42px;
}
.search_box{
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -15px;
    left: 50%;             
    transform: translateX(-50%);
    background: #fff;
    border-radius: 8px;
}
.search_text{
    display: flex;
    gap: 2px;
    padding: 8px 15px;
    align-items: center;
    font-size: 24px;
    font-weight: 600px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #1F2937;
}


@media (max-width: 1440px) {
  .hero_content {
    width: 50%;
    padding: 100px 19px;
    color: #fff;
    font-family: "Inter", sans-serif;
  }
  .hero_content h1 {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 40px;
  }
  .hero_content p {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .hero_content {
    width: 50%;
    padding: 100px 19px;
    color: #fff;
    font-family: "Inter", sans-serif;
  }
  .hero_content h1 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .hero_content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .hero_section {
    width: 100%;
    height: 100vh;
    padding-top: 90px;
  }
  .hero_content {
    width: 100%;
    padding: 100px 19px;
    color: #fff;
    font-family: "Inter", sans-serif;
  }
  .hero_content h1 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .hero_content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .search_box{
    width: 90%;
}
.search_text{
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
}
}
