@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.food {
  display: flex;
  justify-content: space-between;
  background: #f3f4f6;
  padding-top: 90px;
}
.food_image img {
  width: 100%;
}
.food_container {
  padding: 19px 0;
}
.exit_icon {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}
.food_content {
  position: relative;
  width: 85%;
  margin: 0 auto;
  background: #fff;
  padding: 64px 17px;
}
.timer_container {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 30px 10px;
}
.timer_content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.timer_content p {
  font-family: "Inter", sans-serif;
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}




@media (max-width: 1440px) {
    /* .food {
         width: 100%;
        flex-direction: column;
        align-items: center;
    } */
    .food_image {
        width: 100%;
    }
    .food_content {
        width: 100%;
        padding: 64px 17px;
    }
}

@media (max-width: 1024px) {
    .food {
       display: block;
        align-items: center;
    }
    .food_image {
        width: 100%;
    }
    .food_content {
        width: 100%;
        padding: 64px 17px;
    }
}

@media (max-width: 768px) {
    .food {
        width: 100%;
       display: block;
        align-items: center;
    }
    .food_image {
        width: 100%;
    }
    .food_content {
        width: 100%;
        padding: 64px 17px;
    }

}
