@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;

  width: 22px;
  height: 22px;
  border: 2px solid #ff7a18;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
input[type="radio"]:checked {
  background: #ff7a18;
}
label {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 19px 0;
  cursor: pointer;
}

.protein_card p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}
.protein_card h3 {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
}
.protein_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bdbdbd;
  padding: 8px 11px;
  border-radius: 8px;
  margin: 19px 0;
}



@media (max-width: 1440px) {
    
}

@media (max-width: 1024px) {
   
}

@media (max-width: 768px) {
    .protein_card_header{
        width: 100%;
        
    }
}
