@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.menuList {
  background: #f3f4f6;
  padding: 0 48px 147px 48px;
}
.menuList_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}
.menuList_text h3 {
  font-family: "Inter", sans-serif;
  text-align: center;
  text-align: center;
  color: #1f2937;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  color: #1f2937;
  margin-bottom: 50px;
}

@media (max-width: 1440px) {
  .menuList {
    padding: 0 19px 147px 19px;
    width: 100%;
  }
  .menuList_content {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .menuList {
    padding: 0 19px 147px 19px;
    width: 100%;
  }
  .menuList_content {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .menuList {
    padding: 0 19px 147px 19px;
    width: 100%;
  }
  .menuList_content {
    display: flex;
    flex-direction: column;
    gap: 33px;
  }
}
