@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.cart_card {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.cart_item_image {
  display: flex;
  align-items: center;
  gap: 47px;
}
.cart_total {
  display: flex;
  align-items: center;
  gap: 30px;
}
.cart_total p {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 51px;
  font-weight: 500;
  line-height: 73px;
  letter-spacing: 0%;
}
.total_price {
  display: flex;
  align-items: center;
  gap: 47px;
  font-family: "Inter", sans-serif;
  color: #ff7a18;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  cursor: pointer;
}
.total_price img {
  height: 30px;
  width: 28px;
}
.cart_title h3 {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  margin-bottom: 18px;
}
.cart_title p {
  font-family: "Inter", sans-serif;
  color: #4b5563;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
}


@media (max-width: 1440px) {
 
  
}

@media (max-width: 1024px) {
   .cart_card{
    display: block;
  }
  .cart_item_image{
    display: block;
   
  }
  .cart_item_image img{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cart_card{
    display: block;
  }
  .cart_item_image{
    display: block;
   
  }
  .cart_item_image img{
    width: 100%;
  }
  .cart_total p{
    font-size: 24px;
  }
  .total_price{
    font-size: 16px;
  }
  .cart_title h3{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .cart_title p {
    font-size: 16px;
  }
}

