@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.signin {
  display: flex;
  justify-content: space-between;
  background: #bdbdbd;
}
.signin_image img {
  width: 100%;
}
.signin_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: #f3f4f6;
  /* padding: 0 137px; */
}

.signin_text p {
  font-family: "Island Moments", cursive;
  color: #ff7a18;
  font-size: 40.81px;
  letter-spacing: 0%;
  line-height: 40.8px;
  font-weight: 500;
  padding-top: 168px;
}
.signin_text h3 {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  padding-bottom: 20px;
}
form p {
  font-family: "Inter", sans-serif;
  color: #3b4758;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}
.input_box {
  position: relative;
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
}
.input_box input {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.input_box img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
}
.remember_forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #3b4758;
}
.remember_forgot a {
  color: #3b4758;
  text-decoration: none;
}
.remember_forgot a:hover {
  text-decoration: underline;
}
.button_1 {
  background: #ff7a18;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0%;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  border: none;
  transition: 0.5s ease-in-out;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}
.button_1:hover {
  background: #ffb066;
}
.or {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}
.social_login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  background: #fff;
  padding: 13px;
  border-radius: 6px;
  border: 1px solid #bdbdbd;
}
.social_login p {
  font-family: "Inter", sans-serif;
  color: #3b4758;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}
.account p {
  font-family: "Inter", sans-serif;
  color: #3b4758;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 15px;
}
.account a {
  color: #1c7ff9;
  text-decoration: none;
}
.account a:hover {
  text-decoration: underline;
}


@media (max-width: 1440px) {
  .signin_imagee {
    width: 100%;
  }
  .signin_content {
    width: 100%;
    padding: 30px 19px;
  }
  .signin_text p {
    padding: 30px 19px;
  }
  .input_box {
    width: 100%;
  }
   .signin_text p {
    padding-top: 0px;
  }
}

@media (max-width: 1024px) {
  .signin_imagee {
    width: 100%;
  }
  .signin_content {
    width: 100%;
    padding: 30px 19px;
  }
  .signin_text p {
    padding: 30px 19px;
  }
  .input_box {
    width: 100%;
  }
   .signin_text p {
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .signin {
    width: 100%;
    display: block;
    align-items: center;
  }
  .signin_image {
    width: 100%;
  }
  .signin_content {
    width: 100%;
    padding: 64px 19px;
  }
  .input_box {
    width: 500px;
  }
  .signin_text p {
    padding-top: 0px;
  }
}

@media (max-width: 520px) {
  .signin {
    width: 100%;
    display: block;
    align-items: center;
  }
  .signin_image {
    width: 100%;
  }
  .signin_content {
    width: 100%;
    padding: 64px 19px;
  }
  .input_box {
    width: 100%;
  }
  .signin_text p {
    padding-top: 0px;
  }
}
